/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*********************** Document styles ***********************/
/*********************** Header ***********************/
/* line 14, ../sass/style.scss */
.page-header {
  text-align: center;
}

/* line 18, ../sass/style.scss */
.crop-img {
  width: 100%;
  max-height: 150px;
  position: relative;
}

/* line 24, ../sass/style.scss */
.large-img {
  width: 100%;
}

/* line 31, ../sass/style.scss */
.album-thumbnail:hover img,
.photo-thumbnail:hover img {
  opacity: 0.6;
}
/* line 35, ../sass/style.scss */
.album-thumbnail:hover .tile-content h2,
.photo-thumbnail:hover .tile-content h2 {
  opacity: 0;
  visibility: hidden;
}
/* line 40, ../sass/style.scss */
.album-thumbnail:hover .tile-cover,
.photo-thumbnail:hover .tile-cover {
  opacity: 1;
  visibility: visible;
}

/* Titles on hoverover image */
/* line 50, ../sass/style.scss */
.tile-content h2 {
  position: absolute;
  top: 25%;
  height: 50%;
  left: 25%;
  width: 50%;
  text-align: center;
  opacity: 1;
  visibility: visible;
}
/* line 60, ../sass/style.scss */
.tile-content h2 span {
  padding: 5px;
  border: 2px solid white;
  color: white;
  background-color: rgba(101, 101, 101, 0.397);
}

/* line 69, ../sass/style.scss */
.tile-cover {
  position: absolute;
  top: 25%;
  height: 50%;
  left: 25%;
  width: 50%;
  text-align: center;
  color: #312f2f;
  font-weight: 300;
  opacity: 0;
  visibility: hidden;
}
/* line 81, ../sass/style.scss */
.tile-cover h3 {
  font-weight: 700;
}

/*********************** Big photo window ***********************/
/* line 88, ../sass/style.scss */
#big-photo {
  position: fixed;
  z-index: 9999999999999999999999999999999999999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* line 101, ../sass/style.scss */
.close {
  color: white;
  opacity: 1;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
/* line 110, ../sass/style.scss */
.close:hover {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
