/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*********************** Header ***********************/

.page-header {
    text-align: center;
}

.crop-img {
    width: 100%;
    max-height: 150px;
}

.large-img {
    width: 100%;
}

.crop-img {
    position: relative;
}

.caption {
    position: absolute;
    top: 25%;
    height: 50%;
    //bottom: 0;
    left: 25%;
    width: 50%;
    //right: 0;
    //margin: auto;
    //display: flex;
    //align-items: center;
    text-align: center;
}