/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*********************** Document styles ***********************/

$white: #ffffff;
$grey: #656565;
$dark-grey: #312f2f;
$blue: #9dc3c1;

html {
    height: 100%;
    //background-color: black;
}

.col-md-3,
.col-md-4,
.col-xs-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

.back-icon {
    margin-right: 5px;
}

.container {
    transition: all 0.3s linear;
}

/*********************** Bootstrap style changes ***********************/

.carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
    //transform: none !important;
}

.carousel-control {
    &.left,
    &.right {
    background-image: none;
    color: $grey;

    &:active {
    color: $grey;
    }

    &:hover {
        color: $dark-grey;
    }
    }
}

.carousel-inner {
    max-height: 600px;
}

/*********************** Header ***********************/

@media (max-width: 414px) {
    header {
        padding: 50px 0 100px;

        h1 {
            font-size: 40px;
        }
    }
}

@media (min-width: 415px) {
    header {
        padding: 50px 0 150px;

        h1 {
            font-size: 65px;
        }
    }
}

header {
    background-color: $blue;
    opacity: 0.8;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    /*padding: 50px 0 150px;*/
    position: relative;

    h1 {
    /*font-size: 65px;*/
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 0.8;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    }

    span {
    font-size: 25px;
    line-height: 1;
    text-align: center;
    }
}

section.triangle {
    position: relative;
    height: 70px;
    z-index: 1;
    &:before {
        transform: skewY(-3deg);
        content: "";
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 100%;
        -webkit-transform-origin: 0%;
        transform-origin: 0%;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}

.add-margin-top-6x {
    margin-top: -30px;
}
/*********************** Section ***********************/
@media (max-width: 414px) {
    h2 {
        &.md-title {
          margin-top: -65px !important;      
        }
    } 
    
}

@media (max-width: 767px) {
    .crop-img {
        height: 250px !important;
    }
}

.crop-img {
    width: 100%;
    height: 190px;
    position: relative;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#albums-tab {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $dark-grey;
    font-weight: 600;

    &:hover {
        text-decoration: none;
        color: $blue;
    }
}

h2 {
    &.md-title {
      //text-shadow: 0 2px 0 rgba(0, 0, 0, .12);
      padding: 8px 0;
      margin-top: -90px;
      margin-bottom: 20px;
      text-align: center;
      color: $grey;

        & span {
        padding: 5px 0px;
        border-bottom: 2px solid $grey;
        border-top: 2px solid $grey;
        }
    }
}

#album-photos {
    margin-bottom: 20px;
}

#go-back {
    visibility: hidden;
}

.bigger-photo {
    height: 250px;
}

.large-img {
    width: 100%;
}

.album-thumbnail {
    margin-bottom: 15px;
}

.album-thumbnail,
.photo-thumbnail {
    &:hover {
        img {
            opacity: 0.6;
        }
        .tile-content {
            h2 {
                opacity: 0;
                visibility: hidden;
            }
        }
        .tile-cover {
            opacity: 1;
            visibility: visible;
        }
    }
}

/* Titles on hoverover image */

.tile-content {
    h2 {
        position: absolute;
        top: 25%;
        height: 50%;
        left: 25%;
        width: 50%;
        text-align: center;
        opacity: 1;
        visibility: visible;
        transform: translateY(10px);

        span {
            padding: 5px;
            border: 2px solid white;
            color: white;
            background-color: rgba(101, 101, 101, 0.397);
        }
    }
}

.tile-cover {
    position: absolute;
    top: 25%;
    height: 50%;
    left: 25%;
    width: 50%;
    text-align: center;
    color: $dark-grey;
    font-weight: 300;
    opacity: 0;
    visibility: hidden;

    h3 {
        font-weight: 700;
    }
}

/*********************** Big photo window ***********************/

.big-photo {
    position: fixed;
    z-index: 9999999999999999999999999999999999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #84b4b1;
    //visibility: hidden;
}

.close {
    color: white;
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;

    &:hover {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }
}

/*********************** Footer ***********************/

section.second-triangle {
    position: relative;
    height: 70px;
    z-index: 1;
    &:before {
        transform: skewY(-3deg);
        content: "";
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 100%;
        -webkit-transform-origin: 0%;
        transform-origin: 0%;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}

footer {    
    background-color: $blue;
    opacity: 0.8;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    height: 250px;
    position: relative;
    margin-top: 68px;
}